* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.thongtin {
  text-align: center;
  position: relative;
}
.thongtin h3 {
  font-size: 25.5px;
  font-weight: 700;
  color: orange;
  text-align: center;
}
.thongtin .register {
  display: inline-block;
}
.thongtin .register .row .item {
  position: relative;
  margin-bottom: 20px;
}
.thongtin .register .row .item label {
  margin-top: 10px;
  display: flex;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  margin-left: 5px;
}
.thongtin .register .row .item input {
  padding-right: 120px;
}
.thongtin .register .row .item .form-check-input {
  padding-right: 5px;
}
.thongtin .register .row .item i {
  color: #d93025;
}
.thongtin .register .row .item p {
  font-size: 13px;
  text-align: left;
  color: #d93025;
  position: absolute;
}
.thongtin .register .row .item3 {
  display: flex;
  margin-top: 25px;
}
.thongtin .register .row .item3 .form-check {
  margin-left: 15px;
}
.thongtin .register .row .item3 .form-check .form-check-input {
  margin-top: 13px;
  margin-right: 4px;
}
.thongtin button {
  display: block;
  position: absolute;
  top: 300px;
  right: 374px;
  margin-top: 30px;
  color: rgb(44, 43, 41);
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgb(225, 118, 52);
}

.header {
  background-color: #000;
}
.header .container {
  display: flex;
  justify-content: space-between;
  height: 50px;
}
.header .container .logo {
  position: absolute;
  width: 116px;
  height: 32px;
  left: 24px;
  top: 10px;
}
.header .container .menu-header {
  display: flex;
  justify-content: space-between;
}
.header .container .menu-header .login {
  position: absolute;
  width: 91px;
  height: 32px;
  left: 1300px;
  top: 14px;
  text-decoration: none;
  color: #F7F7F7;
  font-weight: 300;
  font-size: 16px;
}
.header .container .menu-header .register {
  position: absolute;
  width: 90px;
  height: 32px;
  left: 1390px;
  top: 15px;
  text-decoration: none;
  color: #F7F7F7;
  font-weight: 300;
  font-size: 16px;
}
.header .container .menu-header .cart {
  position: absolute;
  width: 60px;
  height: 30px;
  left: 1200px;
  top: 10px;
}

.menu-shop .container {
  background-color: #FFFFFF;
  height: 50px;
}
.menu-shop .container .menu-kind a {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  margin: 0 15px;
}

.products {
  background: #F5F5F5;
}
.products .products-title {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}
.products .container .row .card {
  margin-top: 10%;
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
}
.products .container .row .card .card-body .name-price {
  color: #000000;
  font-size: 24px;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-size: cover;
  width: 100%;
}
footer .background {
  background-color: rgb(34, 35, 33);
  width: 100%;
}
footer .background .row {
  margin-left: 20px;
}
footer .background .row .item h3 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  padding-top: 20px;
}
footer .background .row .item ul li {
  list-style: none;
  margin-left: -27px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
footer .background .row .item p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
footer .background .row .item a {
  text-decoration: none;
  color: orange;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 30px;
}

@keyframes fadeDown {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}