* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.header-index {
  background-color: #000;
}
.header-index nav .container .navbar-brand img {
  width: 120px;
}
.header-index nav .container .navbar-toggler {
  color: #fff;
}
.header-index nav .container .collapse {
  flex-grow: 0;
}
.header-index nav .container .collapse .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 16px;
  transition: all 1s;
}
.header-index nav .container .collapse .navbar-nav .nav-item .nav-link:hover {
  transform: scale(1.2);
}

.carousel {
  background-color: #D7DBDD;
}
.carousel .container {
  padding: 15px;
}
.carousel .container a {
  text-decoration: none;
  color: #000;
  margin-right: 30px;
  font-size: 20px;
  position: relative;
}
.carousel .container a::after {
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: -10px;
  left: 0px;
  content: "";
  background-color: #000;
  transition: all 1s;
}
.carousel .container a:first-child:after {
  width: 100%;
}
.carousel .container a:hover::after {
  width: 100%;
  transition: width 0.5s;
}

.carousel .container a.active::after {
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -10px;
  left: 0px;
  content: "";
  background-color: #000;
}

.carousel .container a:hover::after {
  width: 100%;
}

.carousel {
  height: 100%;
}
.carousel .carouselExampleDark {
  max-height: 740px;
}
.carousel .carouselExampleDark .carousel-inner .carousel-item img {
  height: 50%;
  object-fit: cover;
}

.products {
  background: #F5F5F5;
  padding-bottom: 10%;
}
.products .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  text-align: center;
}
.products .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.products .tab button:hover {
  background-color: #ddd;
}
.products .tab button.active {
  background-color: #ccc;
}
.products .tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.products .tabcontent .products-title {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}
.products .tabcontent .container .row .col-3 {
  max-width: 100%;
}
.products .tabcontent .container .row .col-3 .card {
  margin-top: 10%;
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  width: 100%;
}
.products .tabcontent .container .row .col-3 .card .pic img {
  width: 100%;
}
.products .tabcontent .container .row .col-3 .card .card-body .name {
  color: #000000;
  font-size: 24px;
  text-align: center;
  min-height: 108px;
}
.products .tabcontent .container .row .col-3 .card .card-body .price {
  color: #000000;
  font-size: 24px;
  text-align: center;
}
.products .tabcontent .container .row .col-3 .card .card-body .btn {
  margin: auto;
  display: block;
}
.products .tabcontent .container .row .col-3 .card .card-body .btn .custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.products .tabcontent .container .row .col-3 .card .card-body .btn .btn-buy {
  text-decoration: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(255, 27, 0);
  background: linear-gradient(0deg, rgb(255, 27, 0) 0%, rgb(251, 75, 2) 100%);
}
.products .tabcontent .container .row .col-3 .card .card-body .btn .btn-buy:hover {
  color: #f0094a;
  background: transparent;
  box-shadow: none;
}
.products .tabcontent .container .row .col-3 .card .card-body .btn .btn-buy:before,
.products .tabcontent .container .row .col-3 .card .card-body .btn .btn-buy:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #f0094a;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.1333333333);
  transition: 400ms ease all;
}
.products .tabcontent .container .row .col-3 .card .card-body .btn .btn-buy:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.products .tabcontent .container .row .col-3 .card .card-body .btn .btn-buy:hover:before,
.products .tabcontent .container .row .col-3 .card .card-body .btn .btn-buy:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
.products .trademark {
  display: none;
}

.footer .background {
  position: absolute;
  bottom: -195px;
  left: 0;
  background: #000;
  background-size: cover;
  background-position: bottom left;
  width: 100%;
}
.footer .background .row {
  margin-left: 20px;
  margin-right: 1px;
}
.footer .background .row .item h3 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  padding-top: 20px;
}
.footer .background .row .item ul li {
  list-style: none;
  margin-left: -27px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
.footer .background .row .item p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.footer .background .row .item a {
  text-decoration: none;
  color: orange;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 30px;
}

.ft-index {
  position: relative;
  background-size: cover;
  width: 100%;
}
.ft-index .background {
  position: absolute;
  bottom: -195px;
  left: 0;
  background: #000;
  background-size: cover;
  background-position: bottom left;
  width: 100%;
}
.ft-index .background .row {
  margin-left: 20px;
}
.ft-index .background .row .item h3 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  padding-top: 20px;
}
.ft-index .background .row .item ul li {
  list-style: none;
  margin-left: -27px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
.ft-index .background .row .item p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.ft-index .background .row .item a {
  text-decoration: none;
  color: orange;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 30px;
}

@keyframes fadeDown {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/*responsive footer*/
@media screen and (max-width: 1044px) {
  .footer .background {
    height: 37vh;
  }
  .footer .background .row1 {
    margin-top: 27px;
  }
  .footer .background .row .item {
    margin-bottom: -21px;
  }
  .footer .background .row .item h3 {
    font-size: 14px;
  }
  .footer .background .row .item ul li {
    font-size: 14px;
  }
  .footer .background .row .item p {
    font-size: 13px;
    margin-bottom: -3px;
  }
  .footer .background .row .item a {
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  .footer .background {
    height: 41vh;
    position: absolute;
    bottom: -230px;
    left: 0;
  }
  .footer .background .row1 {
    margin-top: 50px;
  }
  .footer .background .row .item {
    margin-bottom: -27px;
  }
  .footer .background .row .item h3 {
    font-size: 14px;
  }
  .footer .background .row .item ul li {
    font-size: 13px;
  }
  .footer .background .row .item p {
    font-size: 12px;
    margin-bottom: -3px;
  }
  .footer .background .row .item a {
    font-size: 12px;
    margin-top: 3px;
    text-align: right;
  }
}
@media screen and (max-width: 576px) {
  .footer .background {
    height: 46vh;
  }
  .footer .background .row1 {
    margin-top: 50px;
  }
  .footer .background .row .item {
    margin-bottom: -27px;
  }
  .footer .background .row .item h3 {
    font-size: 14px;
  }
  .footer .background .row .item ul li {
    font-size: 13px;
  }
  .footer .background .row .item p {
    font-size: 12px;
    margin-bottom: -3px;
  }
  .footer .background .row .item a {
    font-size: 12px;
    margin-top: 3px;
    text-align: right;
  }
}