* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.header {
    background-color: #000;

    .container {
        display: flex;
        justify-content: space-between;
        height: 50px;

        .logo {
            position: absolute;
            width: 116px;
            height: 32px;
            left: 24px;
            top: 10px;
        }

        .menu-header {
            display: flex;
            justify-content: space-between;

            .login {
                position: absolute;
                width: 91px;
                height: 32px;
                left: 1300px;
                top: 14px;
                text-decoration: none;
                color: #F7F7F7;
                font-weight: 300;
                font-size: 16px;
            }

            .register {
                position: absolute;
                width: 90px;
                height: 32px;
                left: 1390px;
                top: 15px;
                text-decoration: none;
                color: #F7F7F7;
                font-weight: 300;
                font-size: 16px;
            }

            .cart {
                position: absolute;
                width: 60px;
                height: 30px;
                left: 1200px;
                top: 10px;
            }
        }
    }
}

.container {
    .row {
        .img {
            img {
                width: 300px;
                margin-top: 50px;
                margin-left: 30px;
            }
        }

        .explain {
            margin-top: 50px;

            .product_name {
                color: rgb(80, 76, 76);
                font-size: 30px;
                font-weight: 600px;
                line-height: 1.1;
            }

            .nd {
                color: rgb(10, 9, 9);
                font-size: 18px;
                font-weight: 400px;
            }

            .Avai {
                margin: 10px 0;
                color: rgb(235, 122, 17);
                font-size: 30px;
                font-weight: 600px;
                line-height: 1.1;
            }

            .size {
                button {
                    padding: 5px 10px;
                    margin-right: 10px;
                    background-color: rgb(219, 223, 224);
                    border-radius: 3px;

                    &:first-child {
                        margin-left: 20px;
                    }

                    &:hover {
                        color: rgb(14, 13, 12);
                        background-color: orange;
                        transition: all .5s;
                    }
                }
            }

            .price {
                font-size: 25.5px;
                font-weight: 400;
                color: #000;
                margin: 10px 0;

                span {
                    margin-right: 10px;
                }
            }

            .quantity-field {
                margin-left: 30px;
                display: flex;

                button {
                    padding: 7px;
                    font-size: 10px;
                    width: 35px;
                    height: auto;
                    border-radius: 4px;
                }

                .number {
                    text-align: center;
                    margin: 0 10px;
                    margin-top: 4px;
                }
            }

            .add {
                button {
                    padding: 5px 15px;
                    background-color: rgb(215, 113, 22);
                    color: #000;
                    margin-top: 20px;
                    margin-left: 160px;

                    &:hover {
                        background-color: rgb(10, 10, 10);
                        color: rgb(226, 110, 7);
                        transition: all .5s;
                    }
                }
            }


        }
    }
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    background-size: cover;
    width: 100%;

    .background {
        position: absolute;
        top: 500px;
        left: 0;
        background-color: rgb(34, 35, 33);
        width: 100%;

        .row {
            margin-left: 20px;

            .item {
                h3 {
                    font-size: 20px;
                    font-weight: 600;
                    color: #fff;
                    padding-top: 20px;
                }

                ul {
                    li {
                        list-style: none;
                        margin-left: -27px;
                        color: #fff;
                        font-size: 14px;
                        font-weight: 300;
                    }
                }

                p {
                    color: #fff;
                    font-size: 14px;
                    font-weight: 400;
                    // margin-bottom: 20px;
                }

                a {
                    text-decoration: none;
                    color: orange;
                    font-size: 14px;
                    font-weight: 400;
                    display: inline-block;
                    margin-bottom: 30px;
                }
            }
        }
    }
}