* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.header {
    background-color: #000;

    .container {
        display: flex;
        justify-content: space-between;
        height: 50px;

        .logo {
            position: absolute;
            width: 116px;
            height: 32px;
            left: 24px;
            top: 10px;
        }

        .menu-header {
            display: flex;
            justify-content: space-between;

            .login {
                position: absolute;
                width: 91px;
                height: 32px;
                left: 1300px;
                top: 14px;
                text-decoration: none;
                color: #F7F7F7;
                font-weight: 300;
                font-size: 16px;
            }

            .register {
                position: absolute;
                width: 90px;
                height: 32px;
                left: 1390px;
                top: 15px;
                text-decoration: none;
                color: #F7F7F7;
                font-weight: 300;
                font-size: 16px;
            }

            .cart {
                position: absolute;
                width: 60px;
                height: 30px;
                left: 1200px;
                top: 10px;
            }
        }
    }
}
.menu-shop {
    .container {
        background-color: #FFFFFF;
        height: 50px;

        .menu-kind {
            a {
                text-decoration: none;
                color: #18da38;
                font-weight: 400;
                font-size: 20px;
                margin: 0 15px;
            //  text-decoration: none;
            //  color:#000;
            }
        }
    }
}
.container {
    .row {
        .img {
            img {
                width: 300px;
                margin-top: 50px;
                margin-left: 30px;
            }
        }

        .explain {
            margin-top: 50px;

            .product_name {
                color: rgb(80, 76, 76);
                font-size: 30px;
                font-weight: 600px;
                line-height: 1.1;
            }

            .nd {
                color: rgb(10, 9, 9);
                font-size: 18px;
                font-weight: 400px;
            }

            .Avai {
                margin: 10px 0;
                color: rgb(235, 122, 17);
                font-size: 30px;
                font-weight: 600px;
                line-height: 1.1;
            }

            .size {
                button {
                    padding: 5px 10px;
                    margin-right: 10px;
                    background-color: rgb(219, 223, 224);
                    border-radius: 3px;

                    &:first-child {
                        margin-left: 20px;
                    }

                    &:hover {
                        color: rgb(14, 13, 12);
                        background-color: orange;
                        transition: all .5s;
                    }
                }
            }

            .price {
                font-size: 25.5px;
                font-weight: 400;
                color: #000;
                margin: 10px 0;

                span {
                    margin-right: 10px;
                }
            }

            .quantity-field {
                margin-left: 30px;
                display: flex;

                button {
                    padding: 7px;
                    font-size: 10px;
                    width: 35px;
                    height: auto;
                    border-radius: 4px;
                }

                .number {
                    text-align: center;
                    margin: 0 10px;
                    margin-top: 4px;
                }
            }

            .add {
                button {
                    padding: 5px 15px;
                    background-color: rgb(215, 113, 22);
                    color: #000;
                    margin-top: 20px;
                    margin-left: 160px;

                    &:hover {
                        background-color: rgb(10, 10, 10);
                        color: rgb(226, 110, 7);
                        transition: all .5s;
                    }
                }
            }


        }
    }
}

// .tabcontent {
//     .products-title {
//         text-align: center;
//         color: rgba(66, 44, 5, 0.722);
//         font-size: 50px;
//         font-weight: 700;
//         font-family:fantasy;
//         .container {
//             .row {
//                 .col-2 {
//                     .card {
//                         .pic {
//                             img {}
//                         }

//                         .card-body {
//                             .name {}

//                             .price {}

//                             .btn {
//                                 a {}
//                             }
//                         }
//                     }
//                 }
//             }

//         }
//     }
// }
.tabcontent {
    // display: none;
    // padding: 6px 12px;
    // border: 1px solid #ccc;
    // border-top: none;
    margin-top: 50px;
    overflow: hidden;

    .products-title {
        line-height: 48px;
        text-align: center;
        text-align: center;
        color: rgba(66, 44, 5, 0.722);
        font-size: 50px;
        font-weight: 700;
        font-family: fantasy;
    }

    .container {
        .row {
            .col-2 {
                max-width: 100%;

                .card {
                    margin-top: 10%;
                    box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
                    width: 100%;

                    .pic {
                        img {
                            width: 100%;
                        }

                    }

                    .card-body {
                        .name {
                            color: #000000;
                            font-size: 24px;
                            text-align: center;
                            min-height: 108px;
                        }

                        .price {
                            color: #000000;
                            font-size: 24px;
                            text-align: center;
                        }

                        .btn {
                            .custom-btn {
                                width: 130px;
                                height: 40px;
                                color: #fff;
                                border-radius: 5px;
                                padding: 10px 25px;
                                font-family: 'Lato', sans-serif;
                                font-weight: 500;
                                background: transparent;
                                cursor: pointer;
                                transition: all 0.3s ease;
                                position: relative;
                                display: inline-block;
                                box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
                                    7px 7px 20px 0px rgba(0, 0, 0, .1),
                                    4px 4px 5px 0px rgba(0, 0, 0, .1);
                                outline: none;
                            }

                            .btn-buy {
                                text-decoration: none;
                                width: 130px;
                                height: 40px;
                                line-height: 42px;
                                padding: 0;
                                border: none;
                                background: rgb(255, 27, 0);
                                background: linear-gradient(0deg, rgba(255, 27, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
                            }

                            .btn-buy:hover {
                                color: #f0094a;
                                background: transparent;
                                box-shadow: none;
                            }

                            .btn-buy:before,
                            .btn-buy:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                right: 0;
                                height: 2px;
                                width: 0;
                                background: #f0094a;
                                box-shadow:
                                    -1px -1px 5px 0px #fff,
                                    7px 7px 20px 0px #0003,
                                    4px 4px 5px 0px #0002;
                                transition: 400ms ease all;
                            }

                            .btn-buy:after {
                                right: inherit;
                                top: inherit;
                                left: 0;
                                bottom: 0;
                            }

                            .btn-buy:hover:before,
                            .btn-buy:hover:after {
                                width: 100%;
                                transition: 800ms ease all;
                            }
                        }
                    }
                }
            }

        }
    }
}


.footer {
    position: relative;
    bottom: 0;
    left: 0;
    background-size: cover;
    width: 100%;

    .background {
        position: absolute;
        top: 500px;
        left: 0;
        background-color: rgb(34, 35, 33);
        width: 100%;

        .row {
            margin-left: 20px;

            .item {
                h3 {
                    font-size: 20px;
                    font-weight: 600;
                    color: #fff;
                    padding-top: 20px;
                }

                ul {
                    li {
                        list-style: none;
                        margin-left: -27px;
                        color: #fff;
                        font-size: 14px;
                        font-weight: 300;
                    }
                }

                p {
                    color: #fff;
                    font-size: 14px;
                    font-weight: 400;
                    // margin-bottom: 20px;
                }

                a {
                    text-decoration: none;
                    color: orange;
                    font-size: 14px;
                    font-weight: 400;
                    display: inline-block;
                    margin-bottom: 30px;
                }
            }
        }
    }
}