* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.thongtin {
    text-align: center;
    position: relative;

    h3 {
        font-size: 25.5px;
        font-weight: 700;
        color: orange;
        text-align: center;
    }

    .register {
        display: inline-block;

        .row {
            .item {
                position: relative;
                margin-bottom: 20px;

                label {
                    margin-top: 10px;
                    display: flex;
                    text-align: left;
                    font-size: 16px;
                    font-weight: 400;
                    margin-left: 5px;
                }

                input {
                    padding-right: 120px;
                }

                .form-check-input {
                    padding-right: 5px;
                }

                i {
                    color: #d93025;
                }

                p {
                    font-size: 13px;
                    text-align: left;
                    color: #d93025;
                    position: absolute;


                }
            }

            .item3 {
                display: flex;
                margin-top: 25px;

                .form-check {
                    margin-left: 15px;

                    .form-check-input {
                        margin-top: 13px;
                        margin-right: 4px;
                    }
                }
            }
        }
    }

    button {
        display: block;
        position: absolute;
        top: 300px;
        right: 374px;
        margin-top: 30px;
        color: rgb(44, 43, 41);
        padding-left: 25px;
        padding-right: 25px;
        background-color: rgb(225, 118, 52);

    }
}

.header {
    background-color: #000;

    .container {
        display: flex;
        justify-content: space-between;
        height: 50px;

        .logo {
            position: absolute;
            width: 116px;
            height: 32px;
            left: 24px;
            top: 10px;
        }

        .menu-header {
            display: flex;
            justify-content: space-between;

            .login {
                position: absolute;
                width: 91px;
                height: 32px;
                left: 1300px;
                top: 14px;
                text-decoration: none;
                color: #F7F7F7;
                font-weight: 300;
                font-size: 16px;
            }

            .register {
                position: absolute;
                width: 90px;
                height: 32px;
                left: 1390px;
                top: 15px;
                text-decoration: none;
                color: #F7F7F7;
                font-weight: 300;
                font-size: 16px;
            }

            .cart {
                position: absolute;
                width: 60px;
                height: 30px;
                left: 1200px;
                top: 10px;
            }
        }
    }
}

.menu-shop {
    .container {
        background-color: #FFFFFF;
        height: 50px;

        .menu-kind {
            a {
                text-decoration: none;
                color: #000000;
                font-weight: 400;
                font-size: 20px;
                margin: 0 15px;
            }
        }
    }
}
.carousel {

    height: 100%;

    .carouselExampleDark 
    {
        max-height: 740px;
        .carousel-indicators {

        }

        .carousel-inner {
            .carousel-item {
                img {
                    height: 50%;
                    object-fit: cover;
                }
            }
        }
    }
}
.products {
    background: #F5F5F5;
    padding-bottom: 10%;

    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        text-align: center;

        button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;

            &:hover {
                background-color: #ddd;
            }

            &.active {
                background-color: #ccc;
            }
        }
    }

    .tabcontent {
        // display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;

        .products-title {
            color: #000000;
            font-weight: 400;
            font-size: 40px;
            line-height: 48px;
            text-align: center;
        }

        .container {
            .row {
                .col-2 {
                    max-width: 100%;

                    .card {
                        margin-top: 10%;
                        box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
                        width: 100%;

                        .pic {
                            img {
                                width: 100%;
                            }

                        }

                        .card-body {
                            .name {
                                color: #000000;
                                font-size: 24px;
                                text-align: center;
                                min-height: 108px;
                            }

                            .price {
                                color: #000000;
                                font-size: 24px;
                                text-align: center;
                            }

                            .btn {
                                .custom-btn {
                                    width: 130px;
                                    height: 40px;
                                    color: #fff;
                                    border-radius: 5px;
                                    padding: 10px 25px;
                                    font-family: 'Lato', sans-serif;
                                    font-weight: 500;
                                    background: transparent;
                                    cursor: pointer;
                                    transition: all 0.3s ease;
                                    position: relative;
                                    display: inline-block;
                                    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
                                        7px 7px 20px 0px rgba(0, 0, 0, .1),
                                        4px 4px 5px 0px rgba(0, 0, 0, .1);
                                    outline: none;
                                }

                                .btn-buy {
                                    text-decoration: none;
                                    width: 130px;
                                    height: 40px;
                                    line-height: 42px;
                                    padding: 0;
                                    border: none;
                                    background: rgb(255, 27, 0);
                                    background: linear-gradient(0deg, rgba(255, 27, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
                                }

                                .btn-buy:hover {
                                    color: #f0094a;
                                    background: transparent;
                                    box-shadow: none;
                                }

                                .btn-buy:before,
                                .btn-buy:after {
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    height: 2px;
                                    width: 0;
                                    background: #f0094a;
                                    box-shadow:
                                        -1px -1px 5px 0px #fff,
                                        7px 7px 20px 0px #0003,
                                        4px 4px 5px 0px #0002;
                                    transition: 400ms ease all;
                                }

                                .btn-buy:after {
                                    right: inherit;
                                    top: inherit;
                                    left: 0;
                                    bottom: 0;
                                }

                                .btn-buy:hover:before,
                                .btn-buy:hover:after {
                                    width: 100%;
                                    transition: 800ms ease all;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
    .trademark{
        display: none;
    }
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    background-size: cover;
    width: 100%;

    .background {
        position: absolute;
        top:500px;
        left: 0;
        background-color: rgb(34, 35, 33);
        width: 100%;

        .row {
            margin-left: 20px;

            .item {
                h3 {
                    font-size: 20px;
                    font-weight: 600;
                    color: #fff;
                    padding-top: 20px;
                }

                ul {
                    li {
                        list-style: none;
                        margin-left: -27px;
                        color: #fff;
                        font-size: 14px;
                        font-weight: 300;
                    }
                }

                p {
                    color: #fff;
                    font-size: 14px;
                    font-weight: 400;
                    // margin-bottom: 20px;
                }

                a {
                    text-decoration: none;
                    color: orange;
                    font-size: 14px;
                    font-weight: 400;
                    display: inline-block;
                    margin-bottom: 30px;
                }
            }
        }
    }
}

.ft-index {
    position: relative;
    background-size: cover;
    width: 100%;

    .background {
        position: absolute;
        top:500px;
        left: 0;
        background-color: rgb(34, 35, 33);
        width: 100%;

        .row {
            margin-left: 20px;

            .item {
                h3 {
                    font-size: 20px;
                    font-weight: 600;
                    color: #fff;
                    padding-top: 20px;
                }

                ul {
                    li {
                        list-style: none;
                        margin-left: -27px;
                        color: #fff;
                        font-size: 14px;
                        font-weight: 300;
                    }
                }

                p {
                    color: #fff;
                    font-size: 14px;
                    font-weight: 400;
                    // margin-bottom: 20px;
                }

                a {
                    text-decoration: none;
                    color: orange;
                    font-size: 14px;
                    font-weight: 400;
                    display: inline-block;
                    margin-bottom: 30px;
                }
            }
        }
    }
}


@keyframes fadeDown {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}